
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.donationform-iEb {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-suqm-aXh {
    box-sizing: border-box;
    padding: 3.1rem 10.6rem 2.3rem 3.5rem;
    width: 100%;
    height: 15.9rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8899999857);
    flex-shrink: 0;

    .auto-group-jphq-HBD {
      height: 100%;
      flex-shrink: 0;
      margin-right: 57.1rem;
      width: 37.6rem;

      .auto-group-fm8s-RoD {
        align-items: center;
        margin: 0rem 16.05rem 1.1rem 0rem;
        width: calc(100% - 16.05rem);
        display: flex;

        .scrap3-removebg-preview-75-Z8j {
          margin-right: 0.2033rem;
          width: 5.1467rem;
          height: 4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .scrap-symphony-sanctuary-5sm {
          margin-top: 0.9rem;
          display: flex;
          line-height: 1.4825;
          color: #f7fbff;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          font-size: 1.4rem;
          font-weight: 700;
          letter-spacing: 0.028rem;
          font-family: Oswald, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .eco-friendly-donations-PdZ {
        display: flex;
        font-weight: 700;
        line-height: 1.4825;
        color: #ffffff;
        font-family: Oswald, 'Source Sans Pro';
        white-space: nowrap;
        width: 100%;
        align-items: center;
        justify-content: center;
        font-size: 3.6rem;
        letter-spacing: 0.072rem;
      }
    }
    .home-donations-about-us-contact-us-hPM {
      line-height: 1.4825;
      letter-spacing: 0.072rem;
      color: #ffffff;
      white-space: nowrap;
      justify-content: center;
      font-size: 3.6rem;
      font-weight: 700;
      font-family: Oswald, 'Source Sans Pro';
      flex-shrink: 0;
      margin-bottom: 0.8rem;
      display: flex;
      align-items: baseline;

      .home-donations-about-us-contact-us-hPM-sub-0 {
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.4825;
        letter-spacing: 0.072rem;
        color: #ffffff;
        font-family: Oswald, 'Source Sans Pro';
      }
      .home-donations-about-us-contact-us-hPM-sub-1 {
      }
    }
  }
  .auto-group-jpo9-yVH {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.3625;
    color: #000000;
    margin-bottom: 1.3rem;
    box-sizing: border-box;
    background-repeat: no-repeat;
    flex-shrink: 0;
    font-family: Open Sans, 'Source Sans Pro';
    white-space: nowrap;
    width: 100%;
    background-size: cover;
    justify-content: center;
    letter-spacing: 0.032rem;
    background-image: url('REPLACE_IMAGE:1:249');
    padding: 2.45rem 4.95rem 1.85rem 4.95rem;
    background-position: center;
  }
  .donation-form-q1h {
    color: #000000;
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 3.1rem 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.4825;
    letter-spacing: 0.08rem;
    font-family: Oswald, 'Source Sans Pro';
  }
  .image-28-j75 {
    width: 153.6rem;
    height: 42.3rem;
    position: relative;
    background-size: 100% 172.939%;
    background-position: 0 -19.1576rem;
    background-image: url('REPLACE_IMAGE:f8eb53e258fb967440003d4f702d9024197ecb4e');
    flex-shrink: 0;
  }
  .auto-group-jk19-EZd {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.25rem 38.25rem 3.9rem 44.2rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-vyaf-9Ao {
      position: relative;
      flex-shrink: 0;
      margin-bottom: 1.1rem;
      width: 100%;
      height: 79.85rem;

      .contact-form-2-Uym {
        overflow: hidden;
        box-sizing: border-box;
        position: absolute;
        top: 2.05rem;
        left: 0;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 4.4rem 11rem 5.1rem 11.1rem;
        width: 68.1rem;
        height: 72.6rem;

        .group-61-C95 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 1.35rem;
          width: 100%;
          align-items: center;

          .first-name-8oR {
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            width: 100%;
            display: flex;

            .first-name-6VM {
              margin-bottom: 0.7rem;
              font-size: 1.6rem;
              color: #000000;
              white-space: nowrap;
              align-items: baseline;
              font-weight: 500;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              flex-shrink: 0;

              .first-name-6VM-sub-0 {
              }
              .first-name-6VM-sub-1 {
                color: #ff0000;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.2125;
              }
            }
            .rectangle-sPd {
              background-color: #f1f1f1;
              border-radius: 0.6rem;
              flex-shrink: 0;
              width: 100%;
              height: 5.5rem;
            }
          }
          .last-name-bKd {
            flex-direction: column;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            width: 100%;
            display: flex;

            .last-name-Ykf {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 0.7rem;
            }
            .rectangle-GRm {
              width: 100%;
              height: 5.5rem;
              background-color: #f1f1f1;
              border-radius: 0.6rem;
              flex-shrink: 0;
            }
          }
          .email-1u9 {
            margin-bottom: 0.85rem;
            width: 100%;
            height: 8.2rem;
            position: relative;
            flex-shrink: 0;

            .e-mail-An3 {
              width: 5.7rem;
              position: absolute;
              top: 0;
              font-size: 1.6rem;
              font-weight: 500;
              color: #000000;
              display: flex;
              align-items: baseline;
              height: 2rem;
              left: 0;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;

              .e-mail-An3-sub-0 {
              }
              .e-mail-An3-sub-1 {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: 1.2125;
                color: #ff0000;
                font-family: Inter, 'Source Sans Pro';
              }
            }
            .rectangle-YXh {
              height: 5.5rem;
              position: absolute;
              left: 0;
              top: 2.7rem;
              background-color: rgba(217, 217, 217, 0.3700000048);
              border-radius: 0.6rem;
              width: 46rem;
            }
            .email-3DZ {
              height: 8.2rem;
              position: absolute;
              left: 0;
              top: 0;
              width: 46rem;

              .e-mail-bF5 {
                align-items: baseline;
                margin-bottom: 0.7rem;
                font-size: 1.6rem;
                line-height: 1.2125;
                color: #000000;
                font-weight: 500;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;

                .e-mail-bF5-sub-0 {
                }
                .e-mail-bF5-sub-1 {
                  font-size: 1.6rem;
                  font-weight: 500;
                  line-height: 1.2125;
                  color: #ff0000;
                  font-family: Inter, 'Source Sans Pro';
                }
              }
              .rectangle-oM9 {
                background-color: rgba(217, 217, 217, 0.1800000072);
                border-radius: 0.6rem;
                width: 100%;
                height: 5.5rem;
              }
            }
          }
          .phone-number-XH9 {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .phone-number-5pT {
              display: flex;
              align-items: baseline;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 500;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              margin-bottom: 0.7rem;
              line-height: 1.2125;
              color: #000000;

              .phone-number-5pT-sub-0 {
              }
              .phone-number-5pT-sub-1 {
                line-height: 1.2125;
                color: #ff0000;
                font-family: Inter, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 500;
              }
            }
            .rectangle-FMZ {
              width: 100%;
              height: 5.5rem;
              background-color: #f1f1f1;
              border-radius: 0.6rem;
              flex-shrink: 0;
            }
          }
        }
        .email-CXh {
          flex-direction: column;
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          width: 100%;
          display: flex;

          .e-mail-ZNF {
            margin-bottom: 0.7rem;
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            color: #ff0000;
            white-space: nowrap;
            display: flex;
            align-items: baseline;
            flex-shrink: 0;

            .e-mail-ZNF-sub-0 {
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
            .e-mail-ZNF-sub-1 {
            }
          }
          .rectangle-CAK {
            flex-shrink: 0;
            width: 46rem;
            height: 5.5rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.6rem;
          }
        }
        .message-vMD {
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          display: flex;

          .message-V9R {
            flex-shrink: 0;
            margin-bottom: 0.7rem;
            font-size: 1.6rem;
            white-space: nowrap;
            align-items: baseline;
            display: flex;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';

            .message-V9R-sub-0 {
            }
            .message-V9R-sub-1 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 1.6rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #ff0000;
            }
          }
          .rectangle-69D {
            width: 100%;
            height: 15rem;
            background-color: #f1f1f1;
            border-radius: 0.6rem;
            flex-shrink: 0;
          }
        }
      }
      .email-EmD {
        top: 71.65rem;
        width: 46rem;
        height: 8.2rem;
        position: absolute;
        left: 11.1rem;

        .e-mail-xhD {
          font-weight: 500;
          line-height: 1.2125;
          align-items: baseline;
          margin-bottom: 0.7rem;
          font-size: 1.6rem;
          color: #ff0000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;

          .e-mail-xhD-sub-0 {
            font-size: 1.6rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .e-mail-xhD-sub-1 {
          }
        }
        .rectangle-PGj {
          width: 100%;
          height: 5.5rem;
          background-color: rgba(217, 217, 217, 0.3700000048);
          border-radius: 0.6rem;
        }
      }
      .fill-this-form-our-team-will-collect-your-donation-items-from-your-place-Xtj {
        left: 1.45rem;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        height: 2.8rem;
        letter-spacing: 0.04rem;
        top: 0;
        font-family: Open Sans, 'Source Sans Pro';
        line-height: 1.3625;
        color: #000000;
        width: 69.7rem;
        position: absolute;
        display: flex;
        font-size: 2rem;
        font-weight: 400;
      }
    }
    .email-NeT {
      flex-shrink: 0;
      margin: 0rem 13.95rem 1.1rem 11.2rem;
      width: calc(100% - 25.15rem);
      display: flex;
      flex-direction: column;

      .e-mail-iCX {
        font-weight: 500;
        line-height: 1.2125;
        flex-shrink: 0;
        margin-bottom: 0.7rem;
        font-size: 1.6rem;
        color: #ff0000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: baseline;

        .e-mail-iCX-sub-0 {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .e-mail-iCX-sub-1 {
        }
      }
      .rectangle-uXu {
        border-radius: 0.6rem;
        flex-shrink: 0;
        width: 100%;
        height: 5.5rem;
        background-color: rgba(217, 217, 217, 0.3700000048);
      }
    }
    .email-dsD {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 13.95rem 4.1rem 11.2rem;
      width: calc(100% - 25.15rem);
      display: flex;

      .e-mail-yRH {
        align-items: baseline;
        line-height: 1.2125;
        font-size: 1.6rem;
        font-weight: 500;
        color: #ff0000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        flex-shrink: 0;
        margin-bottom: 0.7rem;

        .e-mail-yRH-sub-0 {
          font-size: 1.6rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .e-mail-yRH-sub-1 {
        }
      }
      .rectangle-BnF {
        width: 100%;
        height: 5.5rem;
        background-color: rgba(217, 217, 217, 0.3700000048);
        border-radius: 0.6rem;
        flex-shrink: 0;
      }
    }
    .auto-group-82xq-tAs {
      height: 4.9rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 13.95rem 0rem 11.2rem;
      width: calc(100% - 25.15rem);

      .button-Bfm {
        white-space: nowrap;
        display: flex;
        margin-right: 21.2rem;
        font-size: 1.6rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        align-items: center;
        border: solid 0.1rem #000000;
        border-radius: 0.6rem;
        flex-shrink: 0;
        width: 12.4rem;
        height: 100%;
        line-height: 1.2125;
        color: #ffffff;
        justify-content: center;
        box-sizing: border-box;
        background-color: #000000;
      }
      .button-3T5 {
        font-size: 1.6rem;
        align-items: center;
        flex-shrink: 0;
        height: 100%;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        justify-content: center;
        width: 12.4rem;
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        font-weight: 700;
        line-height: 1.2125;
        background-color: #000000;
        border-radius: 0.6rem;
      }
    }
  }
  .footer-ip7 {
    width: 100%;
    height: 26.6092rem;
    position: relative;
    flex-shrink: 0;

    .rectangle-3-EnT {
      left: 0;
      top: 0;
      background-color: #222222;
      width: 153.6rem;
      height: 24.9998rem;
      position: absolute;
    }
    .scrap-symphony-sanctuary-your-premier-destination-for-trading-scrap-materials-and-a-platform-to-donate-and-manage-waste-responsibly-embrace-a-circular-economy-contribute-to-charitable-causes-by-donating-reusable-items-and-explore-green-solutions-with-our-community-of-startups-and-entrepreneurs-for-a-sustainable-future-nZ5 {
      height: 8.8rem;
      display: flex;
      line-height: 2.2;
      top: 4.8992rem;
      font-size: 1rem;
      font-weight: 400;
      letter-spacing: 0.01rem;
      color: #ffffff;
      width: 43.7rem;
      position: absolute;
      left: 12.2rem;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .frame-35-voh {
      width: 5.2rem;
      height: 16.5rem;
      position: absolute;
      left: 117.8rem;
      top: 1.9931rem;

      .pages-fFV {
        font-weight: 700;
        line-height: 2.25;
        letter-spacing: 0.012rem;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        white-space: nowrap;
        width: 100%;
        justify-content: center;
        font-size: 1.2rem;
      }
      .frame-39-PBV {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 1rem;

        .home-L6j {
          line-height: 2.2;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          display: flex;
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 0.01rem;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .donations-Th9 {
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1rem;
          font-weight: 400;
          letter-spacing: 0.01rem;
          display: flex;
          line-height: 2.2;
          flex-shrink: 0;
        }
        .about-us-CPq {
          display: flex;
          font-size: 1rem;
          line-height: 2.2;
          font-weight: 400;
          letter-spacing: 0.01rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .contact-us-94B {
          display: flex;
          font-size: 1rem;
          line-height: 2.2;
          letter-spacing: 0.01rem;
          color: #ffffff;
          flex-shrink: 0;
          font-weight: 400;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .social-media-SJB {
      display: flex;
      align-items: center;
      width: 17.3616rem;
      height: 3rem;
      position: absolute;
      left: 13.018rem;
      top: 15.1113rem;

      .vector-NSj {
        margin: 0rem 4.034rem 0rem 0rem;
        width: 2.9268rem;
        height: 2.9268rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-HJo {
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.0345rem;
        width: 3.2195rem;
      }
      .vector-qLK {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0rem;
        width: 3.1463rem;
        height: 2.6341rem;
      }
    }
    .rectangle-12-ZXD {
      width: 153.6rem;
      height: 4.3rem;
      position: absolute;
      left: 0;
      top: 20.7rem;
      background-color: #555555;
    }
    .frame-40-WST {
      padding-right: 19.3667rem;
      left: 14.1rem;
      align-items: flex-start;
      box-sizing: border-box;
      width: 29.8667rem;
      height: 5.3092rem;
      position: absolute;
      top: 21.3rem;
      display: flex;

      .mask-group-dX5 {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 4.5rem;
      }
      .mask-group-B2o {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .scrap-symphony-sanctuary-all-rights-reserved-Kuh {
      font-weight: 700;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      color: #ffffff;
      white-space: nowrap;
      width: 27.4rem;
      height: 2.2rem;
      position: absolute;
      left: 114.7rem;
      top: 21.4rem;
      font-size: 1rem;
      font-family: Open Sans, 'Source Sans Pro';
    }
    .terms-condition-privacy-policy-zF9 {
      position: absolute;
      left: 65.9rem;
      top: 21.4rem;
      font-size: 1rem;
      font-weight: 700;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      width: 18.5rem;
      font-family: Open Sans, 'Source Sans Pro';
      color: #ffffff;
      white-space: nowrap;
      height: 2.2rem;
    }
  }
}
