
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.6rem;
}.home-NpF {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;

  .auto-group-yizb-bwu {
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 3.1rem 10.6rem 2.3rem 3.5rem;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8899999857);
    margin-bottom: 7rem;
    width: 100%;
    height: 15.9rem;
    display: flex;

    .auto-group-urpd-JNT {
      margin-right: 57.1rem;
      width: 37.6rem;
      height: 100%;
      flex-shrink: 0;

      .auto-group-cwct-p5u {
        display: flex;
        align-items: center;
        margin: 0rem 16.05rem 1.1rem 0rem;
        width: calc(100% - 16.05rem);

        .scrap3-removebg-preview-75-WjR {
          height: 4rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.2033rem;
          width: 5.1467rem;
        }
        .scrap-symphony-sanctuary-Dtj {
          letter-spacing: 0.028rem;
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          font-size: 1.4rem;
          line-height: 1.4825;
          color: #f7fbff;
          font-family: Oswald, 'Source Sans Pro';
          margin-top: 0.9rem;
          display: flex;
          font-weight: 700;
        }
      }
      .eco-friendly-donations-dxT {
        width: 100%;
        display: flex;
        font-weight: 700;
        line-height: 1.4825;
        font-family: Oswald, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        font-size: 3.6rem;
        letter-spacing: 0.072rem;
        color: #ffffff;
      }
    }
    .home-donations-about-us-contact-us-M7m {
      margin-bottom: 0.8rem;
      display: flex;
      align-items: baseline;
      justify-content: center;
      font-weight: 700;
      line-height: 1.4825;
      font-size: 3.6rem;
      letter-spacing: 0.072rem;
      color: #ffffff;
      font-family: Oswald, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;

      .home-donations-about-us-contact-us-M7m-sub-0 {
        letter-spacing: 0.072rem;
        color: #ffffff;
        font-family: Oswald, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.4825;
      }
      .home-donations-about-us-contact-us-M7m-sub-1 {
      }
    }
  }
  .auto-group-6jrk-WoH {
    align-items: flex-end;
    flex-shrink: 0;
    margin: 0rem 15.1rem 5.7rem 13.4rem;
    width: calc(100% - 28.5rem);
    height: 46.4rem;
    display: flex;

    .auto-group-pzuf-onP {
      margin-right: 6.2rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .welcome-to-eco-friendly-donations-think-us-before-you-throw--Yzs {
        font-family: Oswald, 'Source Sans Pro';
        margin-bottom: 4.1rem;
        max-width: 71.7rem;
        font-size: 4.8rem;
        font-weight: 500;
        line-height: 1.4825;
        letter-spacing: 0.096rem;
        color: #000000;
        flex-shrink: 0;
        display: flex;
      }
      .the-project-titled-web-based-application-for-waste-management-and-donation-aims-to-create-a-platform-that-facilitates-the-collection-and-distribution-of-surplus-items-such-as-food-clothing-books-money-toys-etc-to-those-in-need-through-collaboration-with-ngos-this-innovative-web-application-for-waste-management-is-designed-to-streamline-the-process-of-gathering-excess-items-from-various-sources-such-as-hotels-restaurants-event-venues-shopping-malls-and-general-stores-and-redistributing-them-to-individuals-facing-hardships-8TH {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.3625;
        font-family: Open Sans, 'Source Sans Pro';
        margin-bottom: 2.2rem;
        max-width: 70.7rem;
        color: #000000;
        flex-shrink: 0;
        display: flex;
        letter-spacing: 0.04rem;
      }
      .item--Y9d {
        font-family: Open Sans, 'Source Sans Pro';
        box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.7rem;
        height: 4rem;
        line-height: 2;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        background-color: #000000;
        width: 15.7rem;
        letter-spacing: 0.02rem;
        color: #ffffff;
      }
    }
    .image-15-xz3 {
      width: 47.2rem;
      height: 45.4rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 3rem;
      flex-shrink: 0;
    }
  }
  .group-212-VDH {
    box-sizing: border-box;
    padding: 5.3rem 11.8rem 3.65rem 14.4rem;
    flex-direction: column;
    flex-shrink: 0;
    background-color: rgba(119, 119, 119, 0.1800000072);
    margin-bottom: 3.4rem;
    width: 100%;
    align-items: center;
    display: flex;

    .auto-group-vr2b-Qb9 {
      margin: 0rem 1.1rem 3.6rem 0rem;
      width: 126.3rem;
      height: 12.75rem;
      position: relative;
      flex-shrink: 0;

      .the-primary-objective-is-to-minimize-waste-particularly-in-the-form-of-leftover-food-clothing-and-other-resources-by-connecting-donors-with-ngos-that-focus-on-supporting-disadvantaged-communities-6is {
        height: 5.5rem;
        position: absolute;
        left: 0;
        display: flex;
        line-height: 1.3625;
        letter-spacing: 0.04rem;
        color: #000000;
        width: 124.6rem;
        top: 0;
        font-size: 2rem;
        font-weight: 400;
        font-family: Open Sans, 'Source Sans Pro';
      }
      .for-example-restaurants-and-catering-services-can-use-the-application-to-notify-ngos-about-available-surplus-food-allowing-these-organizations-to-request-and-coordinate-the-pick-up-and-distribution-of-these-items-to-those-who-require-assistance-7P5 {
        width: 126.3rem;
        height: 8.2rem;
        position: absolute;
        left: 0;
        font-size: 2rem;
        line-height: 1.3625;
        top: 4.55rem;
        display: flex;
        font-weight: 400;
        letter-spacing: 0.04rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
      }
    }
    .by-leveraging-technology-this-web-based-application-seeks-to-bridge-the-gap-between-potential-donors-and-ngos-ensuring-a-more-efficient-and-timely-distribution-of-resources-to-those-in-need-this-not-only-reduces-unnecessary-waste-but-also-contributes-to-addressing-issues-related-to-starvation-malnutrition-and-lack-of-essential-resources-among-vulnerable-populations-hMH {
      color: #000000;
      font-family: Open Sans, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.3625;
      letter-spacing: 0.04rem;
      max-width: 127.4rem;
      display: flex;
    }
  }
  .auto-group-nqdy-s9H {
    width: calc(100% - 25.9rem);
    height: 30rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 11.5rem 7.4rem 14.4rem;

    .donation6-1-wuq {
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 8rem;
      width: 30rem;
      height: 30rem;
      object-fit: cover;
    }
    .auto-group-umdr-fL3 {
      margin: 3rem 0rem 5.2rem 0rem;
      height: calc(100% - 8.2rem);
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .this-web-based-application-for-waste-management-and-donation-serves-as-a-valuable-tool-for-promoting-collaboration-between-donors-and-ngos-ultimately-working-towards-a-more-sustainable-and-compassionate-approach-to-managing-surplus-resources-for-the-betterment-of-society-bUb {
        font-weight: 400;
        letter-spacing: 0.04rem;
        color: #000000;
        font-family: Open Sans, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        font-size: 2rem;
        line-height: 1.3625;
        margin-bottom: 6.5rem;
        max-width: 89.7rem;
      }
      .item--1oD {
        height: 4.4rem;
        font-size: 2rem;
        white-space: nowrap;
        margin-right: 74.3rem;
        background-color: #000000;
        border-radius: 0.7rem;
        padding: 0rem 1.9rem 0rem 1.6rem;
        line-height: 2;
        letter-spacing: 0.02rem;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        flex-shrink: 0;
        font-weight: 400;
      }
    }
  }
  .footer-BLK {
    height: 26.6092rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .rectangle-3-X9H {
      background-color: #222222;
      width: 153.6rem;
      height: 24.9998rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .scrap-symphony-sanctuary-your-premier-destination-for-trading-scrap-materials-and-a-platform-to-donate-and-manage-waste-responsibly-embrace-a-circular-economy-contribute-to-charitable-causes-by-donating-reusable-items-and-explore-green-solutions-with-our-community-of-startups-and-entrepreneurs-for-a-sustainable-future-T2w {
      height: 8.8rem;
      position: absolute;
      display: flex;
      font-size: 1rem;
      font-weight: 400;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      width: 43.7rem;
      top: 4.8992rem;
      color: #ffffff;
      font-family: Open Sans, 'Source Sans Pro';
      left: 12.2rem;
    }
    .frame-35-DAX {
      top: 1.9931rem;
      width: 5.2rem;
      height: 16.5rem;
      position: absolute;
      left: 117.8rem;

      .pages-kAT {
        font-size: 1.2rem;
        color: #ffffff;
        font-family: Open Sans, 'Source Sans Pro';
        margin-bottom: 2rem;
        width: 100%;
        justify-content: center;
        font-weight: 700;
        line-height: 2.25;
        letter-spacing: 0.012rem;
        white-space: nowrap;
        display: flex;
        align-items: center;
      }
      .frame-39-U6T {
        width: 100%;
        row-gap: 1rem;
        display: flex;
        flex-direction: column;

        .home-bRy {
          line-height: 2.2;
          letter-spacing: 0.01rem;
          color: #ffffff;
          display: flex;
          font-size: 1rem;
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 400;
          font-family: Open Sans, 'Source Sans Pro';
        }
        .donations-8Ru {
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1rem;
          line-height: 2.2;
          letter-spacing: 0.01rem;
          color: #ffffff;
          display: flex;
          font-weight: 400;
        }
        .about-us-fgj {
          font-size: 1rem;
          color: #ffffff;
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-weight: 400;
          line-height: 2.2;
          letter-spacing: 0.01rem;
        }
        .contact-us-yBd {
          font-family: Open Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 400;
          font-size: 1rem;
          line-height: 2.2;
          letter-spacing: 0.01rem;
          color: #ffffff;
          display: flex;
        }
      }
    }
    .item--Uu5 {
      display: flex;
      align-items: center;
      width: 17.3617rem;
      height: 3rem;
      position: absolute;
      left: 13.018rem;
      top: 15.1113rem;

      .vector-DLs {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 4.034rem 0rem 0rem;
        width: 2.9268rem;
        height: 2.9268rem;
      }
      .vector-iHd {
        margin-right: 4.0345rem;
        width: 3.2195rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .vector-fTm {
        margin-top: 0rem;
        width: 3.1463rem;
        height: 2.6341rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .rectangle-12-cP1 {
      top: 20.7rem;
      background-color: #555555;
      width: 153.6rem;
      height: 4.3rem;
      position: absolute;
      left: 0;
    }
    .frame-40-KoD {
      padding-right: 19.3667rem;
      left: 14.1rem;
      top: 21.3rem;
      align-items: flex-start;
      box-sizing: border-box;
      width: 29.8667rem;
      height: 5.3092rem;
      position: absolute;
      display: flex;

      .mask-group-RrF {
        margin-right: 4.5rem;
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .mask-group-A39 {
        width: 3rem;
        height: 3rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .scrap-symphony-sanctuary-all-rights-reserved-Wco {
      white-space: nowrap;
      top: 21.4rem;
      height: 2.2rem;
      position: absolute;
      left: 114.7rem;
      font-size: 1rem;
      font-weight: 700;
      line-height: 2.2;
      letter-spacing: 0.01rem;
      width: 27.4rem;
      font-family: Open Sans, 'Source Sans Pro';
      color: #ffffff;
    }
    .terms-condition-privacy-policy-N9D {
      width: 18.5rem;
      left: 65.9rem;
      font-size: 1rem;
      line-height: 2.2;
      font-family: Open Sans, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.2rem;
      position: absolute;
      top: 21.4rem;
      font-weight: 700;
      letter-spacing: 0.01rem;
      color: #ffffff;
    }
  }
}
